---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import User from "@/components/fundations/icons/User.astro";
// Components
import CustomerEntry4 from "@/components/customers/CustomerEntry4.astro";
// Content
import { getCollection } from "astro:content";
const allCustomers = await getCollection("customers");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-4">
      <div class="max-w-xl text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-serif font-medium tracking-tight text-black"
        >
          Become a partner of th efuture of finance and banking with Munch.
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500">
          Access expert guides, financial insights, and security tips to manage
          your finances with confidence in the digital age.
        </Text>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-4 border-t">
      <div class="flex flex-col gap-4">
        {allCustomers.map((post) => <CustomerEntry4 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
