---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Icons
import Heart from "@/components/fundations/icons/Heart.astro";
import Tools from "@/components/fundations/icons/Tools.astro";
import ArrowUp from "@/components/fundations/icons/ArrowUp.astro";

const features = [
  {
    id: "bootstrapped",
    title: "Bootstrapped & Independent",
    description:
      "We don't have VCs breathing down our necks demanding 10x growth. We answer to you.",
    icon: Heart,
  },
  {
    id: "engineers",
    title: "Built by Engineers",
    description:
      "We use ThoughtBase to build ThoughtBase. If it sucks, we fix it.",
    icon: Tools,
  },
  {
    id: "speed",
    title: "Speed",
    description:
      "The dashboard is fast. The widget is light. No loading spinners.",
    icon: ArrowUp,
  },
];
---

<section>
  <Wrapper variant="standard" class="pt-40 pb-4 border-t">
    <div class="max-w-xl text-balance">
      <Text
        tag="h2"
        variant="displaySM"
        class="font-serif font-medium tracking-tight text-black"
      >
        Why ThoughtBase?
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500">
        We're a little different from the enterprise behemoths (you know the
        ones).
      </Text>
    </div>
    <div class="items-center mt-8 grid grid-cols-1 md:grid-cols-3 gap-2">
      {
        features.map((feature) => {
          const Icon = feature.icon;
          return (
            <div class="flex flex-col h-full p-4 bg-sand-100 rounded-xl group hover:bg-white hover:shadow-2xl duration-300 outline-transparent hover:outline hover:outline-sand-100 ">
              <div class="inline-flex p-4 bg-white rounded-lg group-hover:bg-sand-100 duration-300 group-hover:-rotate-12 group-hover:-translate-y-2 w-fit">
                <Icon size="base" class=" text-accent-500" />
              </div>
              <Text
                tag="h3"
                variant="textSM"
                class="mt-12 font-medium text-base-900"
              >
                {feature.title}
              </Text>
              <Text tag="p" variant="textSM" class="mt-2 text-base-500">
                {feature.description}
              </Text>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</section>
