---
// Assets
import { Code } from "astro:components";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const code = `<script src="https://cdn.thoughtbase.app/widget.js" data-id="YOUR_APP_ID"></script>`;
---

<section class="overflow-hidden">
  <Wrapper variant="standard" class="pt-12 pb-4 border-t">
    <div class="text-center text-balance">
      <Text
        tag="h2"
        variant="displaySM"
        class="font-serif font-medium tracking-tight text-black"
      >
        Drop-in installation
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="max-w-xl mx-auto mt-4 text-base-500"
      >
        Paste this into your layout.tsx or index.html. It works with React, Vue, Svelte, and whatever framework you're rewriting your app in this week.
      </Text>
    </div>

    <div class="mt-8 -m-4 border-t border-base-200 border-dashed max-w-3xl mx-auto rounded-xl overflow-hidden">
      <div class="h-full overflow-hidden divide-y divide-sand-50 bg-sand-100">
        <div class="p-4 bg-sand-100">
          <div class="flex items-center gap-1">
            <div class="size-2 rounded-full bg-[#ff421e]" />
            <div class="size-2 rounded-full bg-[#60beff]" />
            <div class="size-2 rounded-full bg-[#e3962d]" />
          </div>
        </div>
        <Code
          lang="html"
          theme="css-variables"
          class="h-full p-4 pl-2 text-xs scrollbar-hide"
          code={code}
        />
      </div>
    </div>
  </Wrapper>
</section>
