---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundatons
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const footerLinks = [
  {
    heading: "Resources",
    links: [
      {
        label: "Terms",
        href: "/terms",
      },
      {
        label: "Privacy",
        href: "/privacy",
      },
      {
        label: "Documentation",
        href: "/docs",
      },
    ],
  },
];
---

<footer class="border-t border-base-200 border-dashed">
  <Wrapper variant="standard" class="py-12">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-black">
        <a
          href="/"
          class="flex items-center font-serif text-lg gap-2 text-accent-900"
        >
          <span class="sr-only">Go to homepage</span>
          <Logo class="size-10 text-base-900" />
        </a>
      </div>
      <div class="flex justify-end">
        {
          footerLinks.map((section) => (
            <div class="mt-12 md:mt-0 ">
              <h3 class="text-black font-display">{section.heading}</h3>
              <ul role="list" class="mt-4 text-sm space-y-2 text-base-500">
                {section.links.map((link) => (
                  <li>
                    <a
                      title="Button to your page"
                      aria-label="your label"
                      href={link.href}
                      class="hover:text-black"
                    >
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
