---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="border-t border-base-200 border-dashed">
  <Wrapper variant="standard" class="py-4 lg:border-x lg:border-base-200">
    <div class="p-8 py-24 text-center rounded-xl bg-accent-500">
      <div class="text-balance">
        <Text
          tag="h2"
          variant="displayLG"
          class="font-serif font-medium text-white"
        >
          Shameless CTA
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-2 text-white/80 max-w-2xl mx-auto"
        >
          If you're building a SaaS, you need feedback. You can build your own
          form, manage a spreadsheet, and manually email people... or you can
          just use ThoughtBase.
        </Text>
      </div>
      <div class="flex justify-center mt-8">
        <Link
          gap="sm"
          size="base"
          variant="muted"
          href="https://thoughtbase.app/auth/signup"
        >
          Get started for free
        </Link>
      </div>
    </div>
  </Wrapper>
</section>
