---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <Wrapper variant="standard" class="pt-32 pb-4">
    <Text
      tag="h1"
      variant="displayMD"
      class="font-serif font-medium tracking-tight text-black"
      >Typography - Font in use: Newsreader - Inter
    </Text>

    <div
      class="flex flex-col mt-12 font-medium text-black divide-y divide-base-300"
    >
      <div class="py-4">
        <Text tag="p" variant="textXS"> Text XS </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textSM"> Text SM </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textBase"> Text Base </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textLG"> Text LG </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textXL"> Text XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayXS" class="font-serif"> Display XS </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displaySM" class="font-serif"> Display SM </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayMD" class="font-serif"> Display MD </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayLG" class="font-serif"> Display LG </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayXL" class="font-serif"> Display XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display2XL" class="font-serif">
          Display 2XL
        </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display3XL" class="font-serif">
          Display 3XL
        </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display4XL" class="font-serif">
          Display 4XL
        </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display5XL" class="font-serif">
          Display 5XL
        </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display6XL" class="font-serif">
          Display 6XL
        </Text>
      </div>
    </div>
  </Wrapper>
</BaseLayout>
